<!-- Main Container -->
<div class="container">
  <!-- Navigation -->
  <header> <a href="">
    <h4 class="logo">TGW</h4>
  </a>
    <nav>
      <ul>
        <li><a href="#hero">HOME</a></li>
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#contact">CONTACT</a></li>
        <li><a href="<%= url_for(:action => 'index', :controller => 'oauth/applications') %>">APPLICATIONS</a></li>
        <li><a href="<%= url_for(:action => 'new', :controller => 'devise/sessions')  %>">SIGN IN</a></li>
      </ul>
    </nav>
  </header>
  <!-- Hero Section -->
  <section class="hero" id="hero">
    <h2 class="hero_header">TGW <span class="light">OAUTH 2 PROVIDER</span></h2>
    <p class="tagline">Authorization Service</p>
  </section>
  <!-- About Section -->
  <section class="about" id="about">
    <h2 class="hidden">About</h2>
    <p class="text_column">This OAuth2 service offers authorization and authentication services for resources managed by this provider. Users can register new accounts and developers can register their OAuth applications on this site.</p>
    <p class="text_column">&nbsp;</p>
  </section>
  <!-- Footer Section -->
  <section class="footer_banner" id="contact">
    <h2 class="hidden">Footer Banner Section </h2>
    <p class="hero_header">FOR THE LATEST NEWS &amp; UPDATES</p>
    <div class="button">subscribe</div>
  </section>
  <!-- Copyrights Section -->
  <div class="copyright">&copy;2019-2020 - <strong>TGW CONSULTING, LLC.</strong></div>
</div>
<!-- Main Container Ends -->